.git*            export-ignore
.hooks*          export-ignore
.codespellrc     export-ignore
.editorconfig    export-ignore

# Custom attribute to mark sources as using our C code style.
[attr]our-c-style  whitespace=tab-in-indent  format.clang-format=15

# Custom attribute to mark sources as generated.
# Do not perform whitespace checks.  Do not format.
[attr]generated  whitespace=-tab-in-indent,-indent-with-non-tab -format.clang-format

bootstrap        eol=lf
configure        eol=lf
*.[1-9]          eol=lf
*.bash           eol=lf
*.sh             eol=lf
*.sh.in          eol=lf

*.bat            eol=crlf
*.bat.in         eol=crlf
*.sln            eol=crlf
*.vcproj         eol=crlf

*.pfx            -text
*.png            -text
*.png.in         -text

*.c              our-c-style
*.cc             our-c-style
*.cpp            our-c-style
*.cu             our-c-style
*.cxx            our-c-style
*.h              our-c-style
*.hh             our-c-style
*.hpp            our-c-style
*.hxx            our-c-style
*.notcu          our-c-style
*.tcc            our-c-style

*.cmake          whitespace=tab-in-indent
*.rst            whitespace=tab-in-indent conflict-marker-size=79
*.txt            whitespace=tab-in-indent
