<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="NuGetPackages" />
    </config>
    <packageSources>
        <add key="cpvsbuild" value="\\cpvsbuild\drops\dd\NuGet" />
        <add key="nuget.org.v3" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="nuget.org.v2" value="https://www.nuget.org/api/v2/" />
        <add key="MicroBuild" value="\\cpvsbuild\drops\Engineering\nuget\MicroBuild" />
        <add key="Microsoft NuGet" value="https://ms-nuget.cloudapp.net/api/v2/" />
    </packageSources>
</configuration>
