<head>
<STYLE TYPE="text/css">  
  <!--
  Body  {
  	font-family : verdana, tahoma, sans-serif;
  	font-size : 9pt;
  	color : black;
  }
  
  Table  {
  	font-family : verdana, tahoma, sans-serif;
  	font-size : 9pt;
  	color : black;
  }
  
  Table, TD  {
        font-family : verdana, tahoma, sans-serif;
        font-size : 9pt;
        color : black; 
        background-repeat : no-repeat;
  }
  
  P {font-family : verdana, tahoma, sans-serif; font-size : 9pt; 
color: black; }

  a {
  	Font-Family : verdana, tahoma, sans-serif;
  	Font-Size : 8pt;
  	Font-Style : normal;
  	text-decoration : none;
  	color : blue;
  }
  
  a:hover  {
  	color : black;
        Font-Style : bold;
  	text-decoration : underline;
  }
  -->
</STYLE>
</head>
