# Ignore files known to be downloaded by CI jobs.
/5.15.1-0-202009071110*
/bcc*
/cmake*
/intel
/ispc*
/innosetup
/jom
/llvm*
/mingw
/msvc*
/ninja*
/nuget
/openmp
/open-watcom*
/orangec
/python*
/qt*
/sccache*
/swift
/ticlang
/tmp
/unstable-jom*
/watcom
/wix3
/wix4
/clang-tidy-fixes
/num_warnings.txt
