# Ignore files known to be downloaded by CI jobs.
/5.15.1-0-202009071110*
/bcc*
/cmake*
/ispc*
/jom
/llvm*
/mingw
/msvc*
/ninja*
/openmp
/open-watcom*
/python*
/qt*
/sccache*
/unstable-jom*
/watcom
/wix*
