.git*            export-ignore

*.c              our-c-style
*.c.in           our-c-style
*.cxx            our-c-style
*.h              our-c-style
*.h.in           our-c-style
*.hxx            our-c-style
*.hxx.in         our-c-style

*.cmake          whitespace=tab-in-indent
*.rst            whitespace=tab-in-indent conflict-marker-size=79
*.txt            whitespace=tab-in-indent
