<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lib2">
  <application>
    <provider android:name="com.example.lib.LibProvider"
        android:authorities="${applicationId}.lib">
      <meta-data android:name="com.example.lib.key" android:value="duplicate"/>
      <meta-data android:name="com.example.lib2.key" android:value="value2"/>
    </provider>
    <provider android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false" tools:node="merge">
      <meta-data android:name="com.example.lib2.Initializer"
          android:value="androidx.startup"/>
      <meta-data android:name="com.example.lib2.RemovedInitializer"
          android:value="androidx.startup"/>
    </provider>
  </application>
</manifest>
